#contentvak .project
{
	background-color:#2F39C4;	
}

#contentvak h2 .highlight
{
	color:#2F39C4;	
}

#nav ul #menublock_selected
{
	background-color:#2F39C4;	
}
#slider
{
	background-color:#2F39C4;	
}

.ContentLeft {
	/* border: 1px solid #2F39C4; */
	border-radius: 3px;
}

.ContentRight {
	/* border: 1px solid #2F39C4; */
	border-radius: 3px;
}

.OntwikkelaarsRight, .ContentLeft {
	border: 2px solid #2F39C4 !important;
}